@charset "utf-8";

/* STYLE GENERAL */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
    background-color: white;
    color: #0f1930;
}

a:hover {
  text-decoration: underline;
}

.section{
	height: 100vh;
	justify-content: center;
	align-items: center;
}
/*EN TETE*/
header {
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
	height: 40px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
	
}

.logo {
    display: flex;
    align-items: center;
	height: 100%;
}

.main-navigation {
    display: flex;
	align-items: center;
    justify-content: flex-end;
	z-index: 1000;
	position: fixed;
	width: 100%;
}

.nav-link {
    text-decoration: none;
    color: #0f1930;
    margin-left: 50px;
	margin-right: 50px;
    font-weight: bold;
	font-family:'Cooper Black', sans-serif;
}

nav a {
    margin-left: 30px; 
}

/*PIED DE PAGE*/
footer{
	margin-top: 70px;
	padding : 50px 150px; 
	background: #DDA55E; 
}

.footer-social{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sayhello {
	font-size: 1em;
	font-family:'Cooper Black', sans-serif;
	color: white;
}

.ligne {
    width: 100%;
    height: 2px;
    background-color: #0f1930;
    margin: 0;
	padding:0;
	border:none;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}


.footer-social{
	display: flex;
	align-content:center;
	flex-direction: row;
}

.lien-icone{
  	margin-left: 30px;
	height: 50px;
}
.lien-icone2{
	height: 80px;
}

.lien-icone:hover {
  opacity: 0.5;
}


/*Portable nav*/
@media only screen and (max-width: 600px) {  
.nav-link {
    margin-left: 10px;
	margin-right: 10px;
    font-size:12px;
}
	
.scroll-nav button {
    display: none;
}

	footer{
	padding : 50px 20px; 
}
	
.lien-icone{
  	margin-left: 15px;
	height: 50px;
}
.lien-icone2{
	height: 80px;
}

.lien-icone:hover {
  opacity: 0.5;
}
}


@media only screen and (min-width: 601px) and (max-width: 1024px){
	.nav-link {
    margin-left: 10px;
	margin-right: 10px;
    font-size:16px;
}
	
.scroll-nav button {
    display: none;
}

	footer{
	padding : 50px 20px; 
}
	
}