/* THEY SEE ME SCROOOLING / THEY HATIN' */
.scroll-nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.scroll-nav button {
    background-color: #dda55e;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

/* SECTION PRESENTATION */
	/*Background*/
.sectionsplit {
    display: flex;
	align-items: center;
    padding: 0em 0em 5em 8em;
    justify-content: space-between;
    background: linear-gradient(to right, #dda55e 68%, #0f1930 32%);
    color: white;
	height: 100vh;
}
	/*Texte*/
.sectionsplit h1 {
    font-family:'Cooper Black', sans-serif;
    font-size: 4em;
    color: #040537;
	white-space: nowrap;

	
}

.sectionsplit .presentation h1 span {
    font-size: 1.2em;
    margin-left: 15px;
}

.sectionsplit .presentation em{
	text-decoration: none;
}

.presentation {
    flex: 2;
	display: flex;
	flex-direction: column;
	align-content:space-between;
    width: 100%;
    padding: 0em 10em 0em 0em;
	text-align: justify;
	z-index: 1;

}

.bloctext {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blocpresentation {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.bloc {
    display: flex;
	justify-content: left;
	align-items: center;
    text-align: left;
	padding: 1em 0em;
}

.textpresentation p {
    margin-bottom: 1em;
}

.bloc p {
    margin: 0.5;
	font-weight: normal;
	font-size: 1em;
}
/*Profil et decoration*/

.sectionparcours {
    padding: 100px 50px 50px 85px ;
    text-align: center;
}

.profil-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 5;
}

.profil {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    z-index: 1;
}

.decoprofil {
    position: absolute;
	top: 0em;
	left: 40em;
	transform: translate(-15%, -10%);
	z-index: 2; 
}

.decoprofil img {
	width: 700px;
    max-width: 100%;
    height: auto;
}

.decoprofilcercle {
    position: absolute;
    left: 51em;
	top: 2em;
	transform: translate(-50%, -50%) 
    z-index: 0; 
}

.decoprofilcercle img {
    width: 450px;
    max-width: 100%;
    height: auto;
}

/* SECTION À PROPOS DE MOI */
#aproposdemoi {
	height: 100vh;
    background-color: white;
    padding: 0em 0em 5em 8em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.apropos h2{
	font-family:'Cooper Black', sans-serif;
	font-size: 2.5em;
}

.apropos {
    padding: 0em 15em 3em 3em;
    text-align: justify;
    margin-right: 5%;
	z-index: 2;
}

.image{
	width: 450px;
	height: auto;
	max-width: 1200px;
}

/*Video*/
.sectionparcousvideo {
    background-color: white;
    height: 100vh; 
    padding: 0em 0em 5em 0em;
    display: flex;
    justify-content:flex-end;
    align-items: center;
	position: relative;
}

.video-presentation {
	flex: 1.5;
    padding: 0px 200px 0px 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
	z-index: 1;
}

/*decoration video*/
.decovideo1{
	position: absolute;
    left: -10em;
	bottom: -10em;
    z-index: 0; 
}
.decovideo1 img{
    width: 800px;
    max-width: 100%;
    height: auto;
}

.decovideo2{
	position:absolute;
	left: 25em;
	bottom: 5em;
	z-index: 0;
}

.decovideo2 img{
    width: 700px;
    max-width: 100%;
    height: auto;
}

.decovideo3{
	position:absolute;
	left: 95em;
	top: 5em;
	z-index: 0;
}

.decovideo3 img{
    width: 600px;
    max-width: 100%;
    height: auto;
}

.decovideo1, .decovideo2, .decovideo3{
	transform: translate(-10%, -10%) 
}
/*video*/

.video-presentation h2 {
    text-align: right;
	font-family:'Cooper Black', sans-serif;
	font-size: 2.5em;
	margin-bottom: 1em;
}

.video {
    width: 85%;
    max-width: 1000px;
    height: auto;
	margin-left: 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* SECTION PORTFOLIO */
.portfolio-section {
    background-color: #0f1930;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 0;
}

.portfolio-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #dda55e;
    font-family: 'Cooper Black', sans-serif;
    text-align: center;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
}

.portfolio-item {
    background-color: #dda55e;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item p {
    margin-top: 10px;
    font-size: 1.2em;
}

.portfolio-section a{
	color:white;
	text-decoration: none;
	
}


/* SECTION CONTACT */
.contact-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    height: 100vh;
    padding: 0;
	position: relative;
}

.contact-section h2 {
    font-size: 2.5em;
    font-family: 'Cooper Black', sans-serif;
    margin-bottom: 20px;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.alignement {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1000px;
}

input, textarea {
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    border: 1px solid #dda55e;
    border-radius: 5px;
}

button {
    background-color: #dda55e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/*EN TRAVAUX*/ 
.underconstruction {
	position: absolute;
	z-index: 2;
}

.underconstruction img{
	max-width: 100%;
	width: 400px;	
}