@charset "utf-8";
/* CSS Document */

/*TELEPHONE PORTABLE max 600px*/
@media only screen and (max-width: 600px) {
  .sectionsplit {
	  flex-direction: column;
      background: linear-gradient(to bottom, #dda55e 68%, #0f1930 32%);
    height: 100vh;
      padding: 2em;
      justify-content: center;
      text-align: center; 
    }
	
	/*Texte*/
.sectionsplit h1 {
	font-size: 2em;
}

.sectionsplit .presentation h1 span {
    font-size: 1.2em;
    margin-left: 10px;
}

.presentation {
    padding: 2em;
}

.bloctext {
    width: 100%;
	font-size:90%;
}

.blocpresentation {
    margin-top: 1em;
}

.bloc {
	padding:0em;
}

.textpresentation p {
    margin-bottom: 1em;
}

/*Profil et decoration*/
.profil-picture {
    flex: 10;
}

.profil {
    width: 275px;
    height: auto;
}

.decoprofil {
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.decoprofil img {
    width: 205%; 
    min-width: 450px;
}

.decoprofilcercle {
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.decoprofilcercle img {
    width: 80%;
	min-width: 275px;
    height: auto;
}


/* SECTION À PROPOS DE MOI */
#aproposdemoi {
	    display: flex;
        flex-direction: column; 
        padding: 0;
        height: auto; 
}

.apropos h2{
	font-size: 1.5em;
}

.apropos p{
	font-size: 15px; 	
}

.apropos {
    padding: 2em 2em 0em 2em;
	margin: 0;
}

.image{
	width: 275px;
	}

/*Video*/
.video-presentation {
	padding: 0em 1em;
}

/*decoration video*/
.decovideo1{
    right: 25em;
	bottom: 20em;
}
.decovideo1 img{
    width: 500px;
    max-width: 150%;
}

.decovideo2{
	left: 12em;
	bottom: 0em;
	top: 15em;
	min-width: 250px;
}


.decovideo3{
	left: 1em;
	top: 25em;
}

.decovideo3 img{
    width: 10em;
    height: auto;
}

/*video*/
.video-presentation h2 {
	font-size: 1.5em;
	}

.video {
    width: 25em;
    height: 15em;
}

/* SECTION PORTFOLIO et PORTFOLIo */
.portfolio-section , .contact-section {
    padding: 0em 3em;
}

.contact-section h2 {
    font-size: 2 em;
}
/*EN TRAVAUX*/ 
.underconstruction img{
	max-width: 80%;
	width: 400px;	
}
}


/*TABLETTE 600px et 1024px*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
/*SECTION SPLIT TABLETTE*/
.sectionsplit {
    padding: 0em 2em;
    color: white;
	height: 110vh;
	background: linear-gradient(to right, #dda55e 75%, #0f1930 32%);

	}
.sectionsplit h1 {
    font-size: 2em;
	text-align: justify;
	white-space: nowrap; 

	}

.sectionsplit .presentation h1 span {
    font-size: 1em;
    margin-left: 0.1px;
	}
	
.presentation {
    padding: 0em 5em;
	margin: 0em;
	}

.bloc {
	padding: 0em;
	}
	
/*Profil et decoration TABLETTE*/
.profil {
    width: 300px;
    height: auto;
}

.decoprofil {
    position: absolute;
    top: 60%; 
    left: 30%;
    transform: translate(-50%, -50%);
}

.decoprofil img {
    width: 150%; 
    max-width: 700px;
    height: auto;
}

.decoprofilcercle {
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 0; 
}

.decoprofilcercle img {
    width: 80%;
	min-width: 300px;
    height: auto;
}

/* SECTION À PROPOS DE MOI TABLETTE */
#aproposdemoi {
    display: block;
	flex-direction: column;
    justify-content: center;
    text-align: center; 
	align-items: center;
    height: auto;
	padding: 0em 5em;
}

.apropos h2{
	font-size: 1.5em;
}

.apropos p{
	font-size: 15px; 	
	}

.apropos {
    padding: 2em 2em 0em 2em;
	margin: 0;
}

.image{
	margin-top: 1em;
	width: 320px;
	}

/*Video*/
.sectionparcousvideo {
    padding: 0;
	margin: 2em 0em;
    height: auto;
}

.video-presentation {
	padding: 3em 1em 4em 1em;
	align-items:flex-start;
	justify-content: center;
	flex-direction: column;
}

/*decoration video*/
.decovideo1{
    right: 40em;
	bottom: 0em;
}
.decovideo1 img{
    width: 600px;
    max-width: 100%;
}

.decovideo2{
	left: 25em;
	top: 7em;
}


.decovideo3{
	left: 5em;
	top: 27em;
}

.decovideo3 img{
    width: 12em;
    height: auto;
}

/*video*/
.video-presentation h2 {
	font-size: 1.5em;
	}

.video {
    width: 30em;
    height: 18em;
	margin-left: 9.5em;
}

	
/* SECTION PORTFOLIO TABLETTE*/
.portfolio-section h2 {
    font-size: 1.4em;
}
	
.portfolio-gallery {
    width: 85%;
}
	
/* SECTION CONTACT TABLETTE */
.contact-section h2 {
    font-size: 1.4em;
}

form {
    width: 70%;
}

/*EN TRAVAUX*/ 
.underconstruction img{
	max-width: 85%;
}	
}



/*PETIT ECRAN ORDINATEUR ENTRE 1025px et 1440px*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
/* SECTION PRESENTATION  */
	/*Background*/
.sectionsplit {
    padding: 0em 5em;
    background: linear-gradient(to right, #dda55e 72%, #0f1930 32%);
}
	/*Texte*/
.sectionsplit h1 {
    font-size: 3em;
	white-space: nowrap;
}

.sectionsplit .presentation h1 span {
    font-size: 1em;
    margin-left: 10px;
}
	
.presentation {
    padding: 0em 10em 0em 2em;
}
	
/*Profil et decoration*/
.profil {
    width: 400px;
    height: auto;
	margin-right: 5em;
}

.decoprofil {
    left: -5em;
}

.decoprofil img {
    width: 50em;
    max-width: 110%;
}

.decoprofilcercle {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.decoprofilcercle img {
    width: 100%; 
    min-width: 400px; 
    height: auto;
}
	
/* SECTION À PROPOS DE MOI */
#aproposdemoi {
    padding: 0em 0em 5em 3em;
}

.apropos h2{
	font-size: 2em;
	margin-top: 2.5em;
}

.apropos {
    padding: 0em 15em 3em 3em;
    margin-right: -20%;
}

.image{
	width: 410px;
}

/*Video*/
.sectionparcousvideo {
    padding: 0em 0em 5em 0em;
}

.video-presentation {
	flex: 2;
    padding: 0px 8em;
}

/*decoration video*/
.decovideo1{
    left: -18em;
	bottom: 5em;
}
.decovideo1 img{
    width: 850px;
}

.decovideo2{
	left: 2em;
	bottom: 25em;
}

.decovideo2 img{
    width: 700px;
}

.decovideo3{
	left: 50em;
	top: 12em;
}

.decovideo3 img{
    width: 550px;
}

/*video*/

.video-presentation h2 {
	font-size: 2em;
	margin-bottom: 1em;
}

.video {
    width: 35em;
    height: 20em;
	}

/* SECTION PORTFOLIO */
.portfolio-gallery {
    width: 95%;
}

/* SECTION CONTACT */
.contact-section h2 {
    font-size: 2em;
}

.alignement {
	width: 95%;
}

/*EN TRAVAUX*/ 
.underconstruction img{
	max-width: 90%;
	width: 400px;	
}
}
	
	
	
/*ECRAN ORDI 1441px ET 1799px*/
@media only screen and (min-width: 1441px) and (max-width: 1799px) {
     /*Background*/
.sectionsplit {
    padding: 0em 5em;
    background: linear-gradient(to right, #dda55e 72%, #0f1930 32%);
}
	/*Texte*/
.sectionsplit h1 {
    font-size: 3em;
	white-space: nowrap;
}

.sectionsplit .presentation h1 span {
    font-size: 1em;
    margin-left: 10px;
}
	
.presentation {
    padding: 0em 10em 0em 2em;
}
	
/*Profil et decoration*/
.decoprofil {
    position: absolute;
    top: 50%; 
    left: 40%;
    transform: translate(-50%, -50%);
}

.decoprofil img {
    width: 150%; 
    max-width: 700px;
    height: auto;
}

.decoprofilcercle {
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%); /* Pour centrer par rapport à .profil */
    z-index: 0; 
}

.decoprofilcercle img {
    width: 100%;
	min-width: 450px;
    height: auto;
}
/* SECTION À PROPOS DE MOI */
#aproposdemoi {
    padding: 0em 0em 5em 3em;
}

.apropos h2{
	font-size: 2em;
	margin-top: 2.5em;
}

.apropos {
    padding: 0em 15em 3em 3em;
    margin-right: -20%;
}

.image{
	width: 410px;
}

/*Video*/
.sectionparcousvideo {
    padding: 0em 0em 5em 0em;
}

.video-presentation {
	flex: 2;
    padding: 0px 8em;
}

/*decoration video*/
.decovideo1{
    left: -18em;
	bottom: 5em;
}
.decovideo1 img{
    width: 850px;
}

.decovideo2{
	left: 2em;
	bottom: 25em;
}

.decovideo2 img{
    width: 700px;
}

.decovideo3{
	left: 50em;
	top: 12em;
}

.decovideo3 img{
    width: 550px;
}

/*video*/

.video-presentation h2 {
	font-size: 2em;
	margin-bottom: 1em;
}

.video {
    width: 45em;
    height: 24em;
	}

/* SECTION PORTFOLIO */
.portfolio-gallery {
    width: 95%;
}

/* SECTION CONTACT */
.contact-section h2 {
    font-size: 2em;
}

.alignement {
	width: 95%;
}

/*EN TRAVAUX*/ 
.underconstruction img{
	max-width: 90%;
	width: 400px;	
}
}

/*ECRAN ORDINATEUR ENTRE 1800px et 2399px*/
@media only screen and (min-width : 1800px ) and ( max-width : 2399px ){
/*Profil et decoration*/
.decoprofil {
    top: 50%; 
    left: 40%;
    transform: translate(-50%, -50%);
}

.decoprofil img {
    width: 150%; 
    max-width: 700px;
    height: auto;
}

.decoprofilcercle {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.decoprofilcercle img {
    width: 75%;
	min-width: 450px;
    height: auto;
}

/* SECTION À PROPOS DE MOI */
#aproposdemoi {
    padding: 0em 0em 5em 3em;
}

.apropos h2{
	font-size: 2em;
	margin-top: 2.5em;
}

.apropos {
    padding: 0em 15em 3em 3em;
    margin-right: -20%;
}

.image{
	width: 410px;
}

/*Video*/
.sectionparcousvideo {
    padding: 0em 0em 5em 0em;
}

.video-presentation {
	flex: 2;
    padding: 0px 8em;
}

/*decoration video*/
.decovideo1{
    left: -18em;
	bottom: 5em;
}
.decovideo1 img{
    width: 850px;
}

.decovideo2{
	left: 2em;
	bottom: 25em;
}

.decovideo2 img{
    width: 700px;
}

.decovideo3{
	left: 50em;
	top: 12em;
}

.decovideo3 img{
    width: 550px;
}

/*video*/

.video-presentation h2 {
	font-size: 2em;
	margin-bottom: 1em;
}

.video {
    width: 50em;
    height: 28em;
	}
}


@media only screen and (min-width: 2400px) {
.decoprofil {
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.decoprofil img {
    width: 150%; 
    max-width: 700px;
    height: auto;
}
	
	
.decoprofilcercle {
    top: 55%;
    left: 52%;
    transform: translate(-50%, -50%);
}

/* SECTION À PROPOS DE MOI */
.decovideo2{
	left:75%;
	bottom: 50%;
	transform: translate(-25%, -25%);

}

.decovideo3{
	left: 45%;
	top: 45%;
}

.decovideo3 img{
    width: 450px;
}
}
