@charset "utf-8";
/* CSS Document */

/*TELEPHONE PORTABLE max 600px*/
@media only screen and (max-width: 600px) {
.travaux {
	flex-direction: column;
	background: linear-gradient(to bottom, #0f1930 35%, white 0%);
	height: 100vh;
	padding: 2em;
	justify-content: center;
	text-align: center; 

	}

.texte{
	padding: 2em 2em;
	margin-top:3em;
	text-align: justify;
}

 .travauxh1{
    font-size: 2.5em;
}

.travauximage{
	height: 70%;
	justify-content: center;
	align-items: center;
	padding: 2em;
}
}


/*TABLETTE 600px et 1024px*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {	
.travaux {
	padding: 1em;
	background: linear-gradient(to right, #0f1930 45%, white 0%)
	}

.texte{
	padding: 0em 2em;
}

 .travauxh1{
    font-size: 2.5em;
}

.travauximage{
	height: 70%;
	padding: 3em;
}
}
	
	
/*PETIT ECRAN ORDINATEUR ENTRE 1025px et 1440px*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
.travaux {
	padding: 3em;
	}

.texte{
	padding: 0em 2em;
}

 .travauxh1{
    font-size: 2.5em;
}

.travauximage{
	height: 90%;
	padding: 4em;
}
}
	
/*ECRAN ORDI 1441px ET 1799px*/
@media only screen and (min-width: 1441px) and (max-width: 1799px) {
   .travaux {
        padding: 5em;
	}

.texte{
	padding: 0em 1em;
}

.travauximage{
	height: 90%;
	padding: 7em;
}
}

/*ECRAN ORDI 1441px ET 1779px*/
@media only screen and (min-width: 1441px) and (max-width: 1779px) {
.travaux {
        padding: 5em;
	}

.texte{
	padding: 0em 1em;
}

.travauximage{
	height: 90%;
	padding: 7em;
}
}


/*ECRAN ORDINATEUR ENTRE 1800px et 2399px*/
@media only screen and (min-width : 1800px ) and ( max-width : 2399px ){
.travaux {
        padding: 2em 15em;
	}

.texte{
	padding: 0em 1em;
}

.travauximage{
	height: 90%;
	padding:8em;
}
}


@media only screen and (min-width: 2400px) {
.travauximage{
	Top:50%;
	padding-right:20%;
}
}
}