@charset "utf-8";
/* CSS Document */
footer{
	margin-top: 0px;
}


.travaux {
    display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 0em 10em;
    background: linear-gradient(to right, #0f1930 35%, white 0%);
    color: white;
	height: 100vh;
}

.texte{
	padding: 0em 15em;
	white-space: nowrap;
	right: 50%
	transform: translate(-50%, -50%);

}

 .travauxh1{
    font-family:'Cooper Black', sans-serif;
    font-size: 2.5em;
    color: #DDA55E;
}
.travauximage{
	display: flex;
	flex-direction: column;
	padding: 25px;
	height: 90%;
	justify-content: center;
	align-items: center;
	
}